.button {
    margin-left: 20px;
    height: 50px;
    cursor: pointer;
    background-color: #f7eeff;
    font-size: 1.5rem;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    border: 2px outset #c8a8e5;

    &:hover {
        background-color: #c8a8e5;
    }
}
